FLASK_ENV=development
SECRET_KEY=met_une_cle_secrete_aleatoire_ici

MYSQL_HOST=db
MYSQL_ROOT_PASSWORD=met_ton_mot_de_passe_root
MYSQL_DATABASE=livguinar_db
MYSQL_USER=FBD
MYSQL_PASSWORD=met_ton_mot_de_passe_utilisateur